PYTHONUTF8=1
PYTHONIOENCODING=utf-8
GROK2API_CAPTCHA_PROVIDER=local
GROK2API_LOCAL_SOLVER_URL=http://127.0.0.1:5072
GROK2API_REG_MAX_CONCURRENCY=10
GROK2API_REG_GLOBAL_INFLIGHT=6
GROK2API_REG_PROBE_DELAY_SEC=0
